html,
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: 'BMJUA';
  src: url('/fonts/BMJUA_otf.otf') format('opentype'); /* public 경로 사용 */
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'BMJUA', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main_page {
  margin-top: 210px;
  margin-bottom: 60px;
  height: 1550px;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.main_page > div {
  width: 100%;
}
