.main_box_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  .information_box {
    width: 47%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 2rem;
    }
    .information_text {
      margin-top: 20px;
      font-size: 1rem;
      font-family: 'BMJUA';
      margin-bottom: 20px;
    }
  }
  .project_box {
    width: 50%;
    height: 400px;

    .input_box {
      width: 100%;
      height: 75%;
      font-size: 18px;
      font-family: 'BMJUA';
      vertical-align: top;
      padding: 15px;
      resize: none;
    }
    .button_box {
      display: flex;
      margin-top: 20px;
      justify-content: right;
      width: 100%;
      height: 20%;

      .button {
        margin-top: 10px;
        margin-left: 20px;
        font-family: 'BMJUA';
        border: none;
        width: 30%;
        height: 70%;
        font-size: 1.1rem;
        border-radius: 10px;
        color: white;
        background-color: #244dff;
      }
    }
  }
}

.main_box_middle {
  width: 100%;
  height: 30px;
  border-bottom: 1.5px solid #a4a4a4;
}
.main_bottom {
  height: 1050px;
}
.main_box_bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 1줄에 2개씩 */
  gap: 20px; /* 각 카드 사이의 간격 */
  margin-top: 30px;
  padding: 20px;
  overflow: hidden;

  .competition_card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 250px;
    display: flex;
    flex-direction: row;
  }

  .competition_image {
    width: 50%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #a4a4a4;
  }

  .competition_info {
    width: 45%;
    margin-left: 4%;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.competition_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3px;
  font-size: 0.9rem;
  color: white;
  background-color: #238eff;
  border-radius: 10px;
}
